<!doctype html>
<html lang="en">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5769573634068772" crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5769573634068772" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="{{ (url_for('static', path='output.css')) }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Site Title" />
    <meta name="twitter:creator" content="Site Creator" />
    <meta name="twitter:title" content="{{ self.title() }}" />
    <meta name="twitter:description" content="{% block description %}{% endblock %}" />
    <meta name="twitter:image" content="{{ url_for('static', path=embed_image_path if embed_image_path else 'embed.png') }}" />

    {{ render_partial('js_plugins.jinja', request=request) }}
    {{ render_partial('tracking_scripts.jinja', request=request) }}

    {% block header %}
    {% endblock %}
  </head>

  <body class="flex min-h-screen flex-col">
    {{ render_partial('navbar.jinja', request=request) }}
    <main class="bg-gray-100">
      {{ render_partial('flashed_messages.jinja', request=request) }}
      {% block body %}
      {% endblock body %}
    </main>
    {{ render_partial('footer.jinja', request=request) }}
  </body>
</html>
