{% extends 'base.jinja' %}
{% block body %}
  <div class="bg-base-200 flex h-screen items-center justify-center">
    <div class="text-center">
      <h1 class="mb-8 font-bold text-gray-900 text-4xl">404</h1>
      <p class="text-gray-700 text-xl">{{ detail }}</p>
    </div>
  </div>
{% endblock %}
