{% extends 'base.jinja' %}
{% block body %}
  <section class="min-w-screen mx-auto max-w-7xl p-8">
    <div style="position: relative; padding-bottom: 56.25%; height: 0;">
      <iframe src="https://www.loom.com/embed/002f26d154a845a98ebd3e3e2549478d?sid=86d584b4-cfd2-448d-b69f-ed072c2c1b15" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
    </div>
  </section>
{% endblock %}
